*.gem
*.rbc
/.bundle/
/.config
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock
InstalledFiles
lib/bundler/man
rdoc
test/tmp
test/version_tmp

# rspec failure tracking
.rspec_status
